---
title: タグ一覧
layout: layouts/base.njk
eleventyExcludeFromCollections: true
---

<ul>
{%- for tag in collections.tags %}
  <li><a href="{{ tag.name| tagUrl }}">{{ tag.name }}</a> ({{ tag.pages| length }})</li>
{%- endfor %}
</ul>
