---
layout: layouts/archive.njk
permalink: "/tags/{{ tag.name }}/"
pagination:
  data: collections.tags
  size: 1
  alias: tag
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "「{{ tag.name }}」タグの記事"
reverse: true
---
