---
layout: layouts/archive.njk
permalink: "{{ tag.name| tagUrl }}"
pagination:
  data: collections.tags
  size: 1
  alias: tag
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "「{{ tag.name }}」タグの記事"
reverse: true
---
