{% extends "layouts/base.njk" %}

{% from "partials/helper.njk" import archives, taglist with context %}

{%- set previous = collections.posts| getPreviousCollectionItem(page) -%}
{%- set next = collections.posts| getNextCollectionItem(page) -%}

{% block description -%}
{%- endblock %}

{% block archives %}{{ archives(page.date.getFullYear()) }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>
<span class="post-meta">
  Posted on <strong>{{ page.date| strftime('%a, %b %d, %Y') }}</strong>
  in <strong><a href="{{ postCategory| categoryUrl }}">{{ postCategory }}</a></strong>
  {%- if postTags| length > 0 %}
  tagged with {{ taglist(postTags) }}
  {%- endif %}
</span>

{{ content| safe }}

<div class="post-navigation">
  <div class="prev">{% if previous %}<a href="{{ previous.url }}"><span>{{ previous.data.title }}</span></a>{% endif %}</div>
  <div class="next">{% if next %}<a href="{{ next.url }}"><span>{{ next.data.title }}</span></a>{% endif %}</div>
</div>
{%- endblock %}
