{#- vim:set filetype=htmljinja shiftwidth=2: -#}
{% extends "layout.html" %}

{% block body %}
            {%- if not metadata.is_page %}
            <span class="post-meta">
              Posted by <strong>{{ metadata.author }}</strong>
              on <strong>{{ metadata.formatted_date }}</strong>
              in <strong>{{ category_list(metadata.filing["categories"]) }}</strong>
            </span>
            {%- endif %}
{{ body }}

            <div class="pagination">
              {%- if prev %}
              <a href="{{ prev.link|e }}" class="newer-posts">&laquo; {{ prev.title }}</a>
              {%- endif %}
              {%- if next %}
              <a href="{{ next.link|e }}" class="older-posts">{{ next.title }} &raquo;</a>
              {%- endif %}
            </div>
{%- endblock %}
