{#- vim:set filetype=htmljinja shiftwidth=2: -#}

{%- set render_sidebar = (not embedded) and (not theme_nosidebar|tobool) and
                         (sidebars != []) -%}

{%- set url_root = pathto('', 1) -%}
{%- if url_root == '#' -%}
    {%- set url_root = '' -%}
{%- endif -%}

{%- macro timestamp(date) -%}
  {%- if date -%}
    <div class="timestamp postmeta">
        <span>{{ date }}</span>
    </div>
  {%- endif -%}
{%- endmacro -%}

{%- macro author(author_name_) -%}
  {%- if author_name -%}
    <p class="posted">Posted by {{ text_posted_by }} {{ metadata.author }}</p>
  {%- endif -%}
{%- endmacro -%}

{%- macro category_list(post_categories) -%}
  <span class="listed">Posted in&nbsp;
  {%- if post_categories -%}
    {%- for link, category in post_categories -%}
    <a href="{{ pathto('categories/' + link + '.html', 1) }}">{{ category }}</a>
    {%- if not loop.last -%}, {% endif -%}
    {%- endfor -%}
  {%- else -%}
  uncategorized
  {%- endif -%}
  </span>
{%- endmacro -%}

{%- macro tag_list(post_tags) -%}
  <span class="tags">Tags:&nbsp;
  {%- if post_tags -%}
    {%- for link, tag in post_tags -%}
    <a href="{{ pathto('tags/' + link + '.html', 1) }}">{{ tag }}</a>
    {%- if not loop.last -%}, {% endif -%}
    {%- endfor -%}
  {%- else -%}
  untagged
  {%- endif -%}
  </span>
{%- endmacro -%}

{%- macro comment_count(code) -%}
  <span class="comments">
  {%- if code -%}
    {{ code }}
  {%- endif -%}
  </span>
{%- endmacro -%}

{%- macro post_meta(metadata, comment_count_code=None) -%}
  <div class="meta">
    <p>
      {{ category_list(metadata.filing['categories']) }}
      {{ tag_list(metadata.filing['tags']) }}
      {{ comment_count(comment_count_code) }}
    </p>
  </div>
{%- endmacro -%}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
  Supremacy4T by 4Templates | http://www.4templates.com/free/ | @4templates
  Licensed under the Creative Commons Attribution 3.0 License
-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
    <meta name="description" content="{{ description }}" />
    <link href="//fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
    <link href="{{ pathto('_static/' + style, 1) }}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ pathto('_static/pygments.css', 1) }}" type="text/css" />
    {%- for cssfile in css_files %}
    <link rel="stylesheet" href="{{ pathto(cssfile, 1) }}" type="text/css" />
    {%- endfor -%}

    {% if not embedded -%}
    {%- if favicon %}
    <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}" />
    {% endif -%}

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    {%- for scriptfile in script_files -%}
    {%- if "jquery" not in scriptfile.lower() %}
    <script type="text/javascript" src="{{ pathto(scriptfile, 1) }}"></script>
    {%- endif -%}
    {%- endfor -%}
    {%- endif %}
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '{{ url_root }}',
        VERSION:     '{{ release|e }}',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '{{ '' if no_search_suffix else file_suffix }}',
        HAS_SOURCE:  {{ has_source|lower }}
      };
    </script>
    {%- block extrahead -%} {% endblock -%}
  </head>
  <body>
    <div id="wrapper">
      <div id="wrapper-bgtop">
        <div id="wrapper-bgbtm">
          <div id="header">
            <div id="logo">
              <h1><a href="{{ pathto(pages[0][0]) }}">{{ shorttitle|e }}</a></h1>
              {%- if tagline %}
              <p>{{ tagline|e }}</p>
              {%- endif -%}
            </div>
            <div id="search">
              <form method="get" action="{{ pathto('search') }}">
                <fieldset>
                  <input type="text" name="q" id="search-text" title="Search our website" size="15" value="" />
                  <input type="submit" id="search-submit" value="GO" />
                </fieldset>
              </form>
            </div>
          </div>
          <div id="menu">
            <ul>
              <li><a href="{{ pathto('pages/about') }}"><span>Home</span></a></li>
              <li><a href="{{ pathto('archive') }}"><span>Blog Archive</span></a></li>
              <li><a href="https://yosida95.com/photos/"><span>Photos</span></a></li>
            </ul>
          </div>
          <div id="page">
            <div id="content">
              <div class="post">
                {% block body -%} {% endblock -%}
                {%- if prev or next %}
                <ul class="related clearfix">
                  {%- if prev %}
                  <li class="left">&laquo;<a href="{{ prev.link|e }}">{{ prev.title }}</a></li>
                  {%- endif %}
                  {%- if next %}
                  <li class="right"><a href="{{ next.link|e }}">{{ next.title }}</a>&raquo;</li>
                  {%- endif %}
                </ul>
                {%- endif %}
              </div>
            </div>
            {%- if render_sidebar %}
            <div id="sidebar">
              {%- if sidebars != None %}
              {% for sidebartemplate in sidebars -%}
              <div>
                {%- include sidebartemplate %}
              </div>
              {% endfor -%}
              {%- endif -%}
            </div>
            {% endif -%}
          </div>
        </div>
      </div>
    </div>
    <div id="footer" class="container">
      {%- if show_copyright %}
      <p>{%- trans copyright=copyright|e -%}&copy; Copyright {{ copyright }}. {% endtrans -%}</p>
      {%- endif -%}
      {%- if show_sphinx %}
      <p>Powered by <a href="http://www.tinkerer.me/">Tinkerer</a> and <a href="http://sphinx.pocoo.org/">Sphinx</a>.</p>
      {%- endif %}
      <p>Supremacy4T by <a href="http://www.4templates.com/free/">4Templates</a>&nbsp;&nbsp;|&nbsp;&nbsp;Photos by <a href="http://fotogrph.com/">Fotogrph</a></p>
    </div>
  </body>
</html>
