---
permalink: "{{ day.url }}"
pagination:
  data: collections.byDay
  size: 1
  alias: day
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "{{ day.year }}年{{ day.month }}月{{ day.day }}日の記事"
---
