---
permalink: "{{ month.url }}"
pagination:
  data: collections.byMonth
  size: 1
  alias: month
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "{{ month.year }}年{{ month.month }}月の記事"
---
