{% extends "base.html" %}

{% from "base_helper.html" import archives, taglist with context %}

{% block title %}{{ article.title }}{% endblock %}

{% block description -%}
  {% if 'description' in article.metadata -%}
    {{ article.description }}
  {%- else -%}
    {{ article.content| striptags| truncate(200) }}
  {%- endif -%}
{%- endblock %}

{% block url %}{{ article.url }}{% endblock %}

{% block thumbnail -%}
  {%- if 'thumbnail' in article.metadata -%}
    {{ article.thumbnail }}
  {%- else -%}
    {{ super() }}
  {%- endif -%}
{%- endblock %}

{% block archives %}{{ archives(expand=article) }}{% endblock %}

{% block body %}
            <h1>{{ article.title }}</h1>
            <span class="post-meta">
              Posted on <strong>{{ article.date| strftime('%a, %b %d, %Y') }}</strong>
              in <strong><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></strong>
              {%- if article.tags %}
              tagged with {{ taglist(article.tags) }}
              {%- endif %}
            </span>

{{ article.content }}
{%- endblock %}

{# vim:set filetype=htmljinja: #}
