{%- from "base_helper.html" import archives with context -%}
<!DOCTYPE html>
<html lang='ja'>
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{{ SITEDESCRIPTION }}{% endblock %}">
    <!-- The Open Graph -->
    <meta property="og:title" content="{{ self.title() }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ SITEURL }}/{% block url %}{% endblock %}">
    <meta property="og:description" content="{{ self.description() }}">
    <meta property="og:image" content="{% block thumbnail %}{{ SITEURL }}/_static/icon_200x200.png{% endblock %}">
    <meta property="og:site_name" content="yosida95">
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@yosida95">
    <title>{% block title %}{% endblock %} &mdash; {{ SITENAME }}</title>

    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/responsive.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/custom.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css" media="screen">

    <link rel="canonical" href="{{ SITEURL }}/{{ self.url() }}">
    <link rel="shortcut icon" href="{{ SITEURL }}/favicon.ico">
    {%- if FEED_ALL_ATOM %}
    <link rel="alternate" type="application/rss+xml" href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}">
    {%- endif %}
    <link rel="author" href="http://www.hatena.ne.jp/yosida95/">

    <script>
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };

        return t;
      }(document, "script", "twitter-wjs"));
    </script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    {%- block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div class="inner">
          <div class="logo">
            <a href="{{ SITEURL }}/"><strong>yosida95</strong></a>
          </div>
          <div class="nav">
            <ul>
              <li><a href="{{ SITEURL }}/"><span>HOME</span></a></li>
              <li><a href="{{ SITEURL }}/{{ INDEX_URL }}"><span>BLOG</span></a></li>
              <li><a href="{{ SITEURL }}/photos"><span>PHOTOS</span></a></li>
            </ul>
          </div><!-- .nav end -->
          <div class="clear"></div>
        </div><!-- .inner end -->
      </div><!-- #header end -->

      <div id="main">
        {%- block content %}
        <div class="inner custom_content">
          <div class="content">
            {%- block body -%}
            {%- endblock %}
          </div>
          <div class="sidebar">
            <div class="sidebar_item">
              <h5>yosida95</h5>
              <div id="author-bio">
                <p style="text-align: center"><img src="{{ SITEURL }}/_static/icon_200x200.png" width="160"></p>
                <p><a href="{{ SITEURL }}/">著者について / About yosida95</a></p>
                <p>ここで述べる内容は私個人の見解に基づくものであり、私の雇用者や私が所属する団体とは一切の関係がありません。</p>
              </div>
              <p><a class="twitter-follow-button" data-show-count="false" href="https://twitter.com/yosida95">Follow @yosida95</a></p>
            </div>

            {%- with articles = (all_articles or articles)|sort(attribute='date', reverse=true) %}
            {%- if articles|length > 0 %}
            <div class="sidebar_item">
              <h5>Recent Articles</h5>
              <ul>
              {%- for article in articles[:DEFAULT_PAGINATION] %}
                <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
              {%- endfor %}
              </ul>
            </div>

            <div class="sidebar_item">
              <h5>Categories</h5>
              <ul>
              {%- for category, articles in categories|sort %}
                <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|length }})</li>
              {%- endfor %}
              </ul>
            </div>

            <div class="sidebar_item">
              <h5>Archives</h5>
              {%- block archives %}
              {{ archives() }}
              {%- endblock %}
            </div>
            {%- endif %}
            {%- endwith %}
          </div>
          <div class="clear"></div>
        </div><!-- .inner End -->
        {%- endblock %}{# content End #}
      </div><!-- #main End -->

      <div id="footer">
        <div class="footer_small">
          <div class="copyright">Copyright &copy; 2015 Kohei YOSHIDA.</div>
          <div class="social">
            <a href="https://github.com/yosida95"><img src="{{ SITEURL }}/theme/img/github.svg" width="24" alt="GitHub"></a>
            <a href="https://twitter.com/yosida95"><img src="{{ SITEURL }}/theme/img/twitter.svg" width="24" alt="Twitter"></a>
            <a href="https://www.facebook.com/yosida95"><img src="{{ SITEURL }}/theme/img/facebook.svg" width="24" alt="facebook"></a>
            <a href="{{ SITEURL }}/rss.xml"><img src="{{ SITEURL }}/theme/img/rss.svg" width="24" alt="RSS Feed"></a>
          </div>
        </div>
      </div><!-- #footer End -->
    </div><!-- #wrapper End -->

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57d37edcf04e9ecd"></script>
    {%- include "google_analytics.html" %}
  </body>
</html>
{#- vim:set filetype=htmljinja: -#}
