{% macro archives(expand=none) -%}
              {%- with articles = (all_articles or articles)|sort(attribute='date') %}
              {%- if articles|length > 0 %}
              <div>
                <ul>
                  {%- for article in articles %}
                  {%- if loop.first or article.date.year != loop.previtem.date.year %}
                  <li>
                    <a href="{{ SITEURL }}/{{ YEAR_ARCHIVE_URL.format(date=article.date) }}">{{ article.date.year }}</a>
                  {%- if expand and expand.date.year == article.date.year %}
                    <ul>
                  {%- else %}
                  </li>
                  {%- endif %}
                  {%- endif %}

                  {%- if expand and expand.date.year == article.date.year %}
                  {%- if loop.first or article.date.year != loop.previtem.date.year or article.date.month != loop.previtem.date.month %}
                      <li><a href="{{ SITEURL }}/{{ MONTH_ARCHIVE_URL.format(date=article.date) }}">{{ article.date| strftime('%b') }}</a></li>
                  {%- endif %}
                  {%- if loop.last or article.date.year != loop.nextitem.date.year %}
                    </ul>
                  </li>
                  {%- endif %}
                  {%- endif %}
                  {%- endfor %}
                </ul>
              </div>
              {%- endif %}
              {%- endwith %}
{%- endmacro %}

{% macro taglist(tags) -%}
  {%- for tag in tags|sort %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                {%- if not loop.last -%}, {% endif %}
  {%- endfor %}
{%- endmacro %}
{# vim: set filetype=htmljinja: #}
