{% extends "base.html" %}

{% from "base_helper.html" import archives with context %}
{% from "index_helper.html" import summary with context %}

{% block url %}{{ INDEX_URL }}{% endblock %}

{% block title %}Archives {{ TITLESEPARATOR }} {{ super() }}{% endblock %}

{% block body %}
{%- for article in dates_page.object_list %}
            {{ summary(article=article) }}
{%- endfor %}

{%- if dates_page.has_other_pages() %}
            <div class="pagination">
              {%- if dates_page.has_previous() %}
              <a href="{{ SITEURL }}/{{ dates_previous_page.url }}" class="newer-posts">&laquo; Newer posts</a>
              {%- endif %}
              {%- if dates_page.has_next() %}
              <a href="{{ SITEURL }}/{{ dates_next_page.url }}" class="older-posts">Older posts &raquo;</a>
              {%- endif %}
            </div>
{%- endif %}
{%- endblock %}
{# vim:set filetype=htmljinja: #}
