{% from "base_helper.html" import taglist with context %}

{% macro summary(article) -%}
            <div class="post">
              <h1 class="title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
              <span class="post-meta">
                Posted on <strong>{{ article.date| strftime('%a, %b %d, %Y') }}</strong>
                in <strong><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></strong>
                {%- if article.tags %}
                tagged with {{ taglist(article.tags) }}
                {%- endif %}
              </span>

{{ article.summary}}

              <a href="{{ SITEURL }}/{{ article.url }}">Read more &hellip;</a>
            </div>
{%- endmacro %}

{# vim:set filetype=htmljinja: #}
