{% extends "base.html" %}

{% block title -%}
{{ page.title }} {{ TITLESEPARATOR }} {{ super() }}
{%- endblock %}

{% block description -%}
  {% if 'description' in page.metadata -%}
    {{ page.description }}
  {%- else -%}
    {{ super() }}
  {%- endif -%}
{%- endblock %}

{% block url %}{{ page.url }}{% endblock %}

{% block thumbnail -%}
  {%- if 'thumbnail' in page.metadata -%}
    {{ page.thumbnail }}
  {%- else -%}
    {{ super() }}
  {%- endif -%}
{%- endblock %}

{% block body %}
<h1>{{ page.title }}</h1>

{{ page.content }}
{%- endblock %}
{# vim:set filetype=htmljinja: #}
