/* Purity Responsive Stylesheet */

@media only screen and (max-width: 850px) {
  .one_half, .one_third, .one_fourth, .three_fourth, .two_third, .one_fifth, .two_fifth, .three_fifth, .four_fifth {
    float: none;
    width: 100%;
    margin: 0 0 1.25em 0;
    position: relative;
  }

  .content {
    width: 100%;
    margin: 0 0 2% 0;
    float: none;
  }

  .sidebar, .sidebar_left {
    width: 100%;
    margin: 0 0 2% 0;
    float: none;
  }
}

@media only screen and (min-width: 981px) {
  #wrapper {
    width: 980px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-resolution: 2dppx) {
  #header .logo img.website-logo {
    display: none !important;
  }

  #header .logo img.retina-logo {
    display: block !important;
  }

  .search_submit {
    background:url("../img/search@2x.png") no-repeat center center;
    background-size: 60%;
  }

  .nav select {
    background: #fff url('../img/select-arrows@2x.png') no-repeat right center;
    background-size: 20px;
  }
}
