@media 	only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (min-device-pixel-ratio: 2) {

/*
/
/ Stylesheet for Retina displays
/
*/

#header .logo img.website-logo { display: none !important; }
#header .logo img.retina-logo { display: block !important; }

.search_submit { background:url("../img/search@2x.png") no-repeat center center; background-size: 60%; }
.nav select { background: #fff url('../img/select-arrows@2x.png') no-repeat right center; background-size: 20px; }
}
