---
title: カテゴリ一覧
layout: layouts/base.njk
eleventyExcludeFromCollections: true
---

<ul>
{%- for category in collections.categories %}
  <li><a href="{{ category.url }}">{{ category.name }}</a> ({{ category.pages| length }})</li>
{%- endfor %}
</ul>
